@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Roboto:wght@300&display=swap');

:root {
    --background-color: #38e1ff;
    --text-color: #FFF;
    --header-color: #000000;
    --contrast-color: #000;
    --h2-color:#FFF;
    --h3-color:#ededed;
}

body#about img {
    height: 20rem;
    float: left;
    margin-right: 20px;
}

body#portfolio img {
    height: 20rem;
}
body#portfolio p {
    max-width: 27rem;
}

body#resume>main>reveal-elements>h2 {
    text-indent: 1rem;
    color: var(--h2-color);
}

body#resume>main>reveal-elements>h3 {
    text-indent: 2rem;
    color: var(--h3-color);
}

body#resume>main>reveal-elements>p {
    text-indent: 4rem;
}

body#resume>main>reveal-elements>ul {
    margin-left: 2rem;
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas:
        "head  head"
        "nav nav"
        "main  main"
        "foot  foot";
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto auto 1fr auto;
    line-height: 1.2;
    font-size: 20px;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    color: var(--text-color);

}

@media screen and (min-width: 30em) {
    body {
        grid-template-areas:
            "head  nav"
            "main  main"
            "foot  foot";
        grid-template-columns: 20rem 1fr;
        grid-template-rows: auto 1 fr 1fr auto;
        background-color: var(--background-color);
        background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
        color: var(--text-color);
    }
}

body>* {
    padding-left: 4rem;
    font-family: 'Roboto', sans-serif;

}

body>header {
    grid-area: head;
    font-family: 'Antic Didone', serif;
    color: var(--header-color);
    /* background-color: red; */
}

/* this is the nav */
body>nav {
    grid-area: nav;
    padding-left: 0;
    /* background-color: yellow; */
}

body>nav>ul {
    list-style-type: none;
    padding-top: 1rem;
}

body>nav>ul>li {
    display: inline;
    padding-right: 1rem;
}

a {
    text-decoration: underline;
}

a:hover {
    color: var(--contrast-color);
}

/* this is main */
body>main {
    border-top: 2px solid black;
    grid-area: main;
    /* background-color: blue; */
}

/* this is footer */
body>footer {
    grid-area: foot;
    /* background-color: green; */
}

header,
footer {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
}

header h1,
footer h1 {
    margin: 0;
}


#portfolioList {
    display: flex;
    flex-wrap: wrap;
}

#portfolioList>li {
    margin: 2rem 3rem;
    list-style-type: none;
}

#portfolio p, #about p{
    font-size: 23px;
}

#protfolio > li{
    max-width: 10rem;
}